body {

	 font-family: 'Playfair Display', serif; 
	 font-size: 14px;
	 letter-spacing: 0px;
	 word-spacing: 0px;
	 line-height: 270px;
	 
}
.titel {
	color: black;
}
.titel-r1 {
	padding-left: 800px;
	font-size: 350px;
}
.titel-r2 {
	padding-left: 50px;
	font-size: 350px;
}
.titel-r3 {
	padding-left: 500px;
	font-size: 350px;
}
.titel-r4 {
	padding-left: 500px;
	font-size: 350px;
}
.titel-tussenregel1 {
	padding-left: 500px;
	font-size: 350px;
	color: white;
}
.titel-r5 {
	padding-left: 50px;
	font-size: 350px;

}
.titel-r6 {
	padding-left: 50px;
	font-size: 350px;
}
.titel-r7 {
	padding-left: 500px;
	font-size: 350px;
}
.titel-tussenregel2 {
	padding-left: 500px;
	font-size: 350px;
	color: white;

}
.titel-r8 {
	padding-left: 50px;
	font-size: 350px;
	letter-spacing: -10px;

}
.titel-tussenregel3 {
	padding-left: 50px;
	font-size: 10px;
	color: white;
	line-height: 150px;
}
.titel-r9 {
	font-family: 'Playfair Display Bold 700', serif; 
	padding-left: 50px;
	font-size: 30px;
	line-height: 40px;

}
.titel-r10 {
	font-family: 'Playfair Display Bold 700', serif; 
	padding-left: 50px;
	font-size: 30px;
	line-height: 50px;

}
.proloog {
	font-family: 'Playfair Display', serif; 
	text-align: center; 
	font-size: 15px;
	line-height: 20px;


