body {

	 font-family: 'Playfair Display', serif; 
	 font-size: 14px;
	 letter-spacing: 0px;
	 word-spacing: 0px;
	 margin-bottom:1000px;
	 
}
.kop1 {
	font-size: 50px;
	text-align: center;
	letter-spacing: 2px;

}
.kop2 {
	font-size: 16px;
	padding-top: 20px;
	letter-spacing: 1px;
}
.tekstvak {
	margin: 0px auto 500px auto;
	width: 500px;
	font-family: 'Playfair Display', serif; 
	font-size: 15px;
}
.hidden {
	display: none;
}
.onderbalk {
	height:100px;
	width: 100%;
	text-align: center;
	background: #FFF;
	font-size: 14px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	color: black;
	margin: 0px !important;
	padding: 0px !important;
	line-height: 100px;
	letter-spacing: 7px;
}
.titel {
	color: black;
	line-height: 270px;
}
.titel-r1 {
	padding-left: 600px;
	font-size: 350px;
}
.titel-r2 {
	padding-left: 0px;
	font-size: 350px;
}
.titel-r3 {
	padding-left: 500px;
	font-size: 350px;
}
.titel-r4 {
	padding-left: 500px;
	font-size: 350px;
}
.titel-tussenregel1 {
	padding-left: 500px;
	font-size: 350px;
	color: white;
}
.titel-r5 {
	padding-left: 50px;
	font-size: 350px;

}
.titel-r6 {
	padding-left: 50px;
	font-size: 350px;
}
.titel-r7 {
	padding-left: 500px;
	font-size: 350px;
}
.titel-tussenregel2 {
	padding-left: 500px;
	font-size: 350px;
	color: white;

}
.titel-r8 {
	padding-left: 50px;
	font-size: 350px;
	letter-spacing: -10px;

}
.titel-tussenregel3 {
	padding-left: 50px;
	font-size: 10px;
	color: white;
	line-height: 150px;
}
.titel-r9 {
	font-family: 'Playfair Display Bold 700', serif; 
	padding-left: 50px;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 20px;

}
.titel-r10 {
	font-family: 'Playfair Display Bold 700', serif; 
	padding-left: 50px;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 50px;

}



